.board {margin:1em auto; border-collapse:collapse}
.board td {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-family: san-serif,Roboto;
}

.board td.hidden {
    font-size: 0px !important;
}

.board td:hover {
    background-color: rgb(121, 121, 121);
}

.board td.flagged {
    background-color: rgb(238, 74, 74);
}

.board td.numCell {
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.board td.bomb {
    font-size: 20px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}