#board {margin:1em auto; border-collapse:collapse}
#board td {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

#board td.hidden {
    font-size: 0px !important;
}

#board td:hover {
    background-color: rgb(121, 121, 121);
}

#board td.flagged {
    /*background-color: rgb(238, 74, 74);*/
    background: url("images/flag.png");
    background-size:30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0px !important;
}

#board td.numCell {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: rgb(204, 204, 204);
}

#board td.zero {
    font-size: 0px !important;
    background-color: rgb(185, 184, 184);
}

#board td.one {
    font-size: 20px;
    color: rgb(0, 0, 255);
}

#board td.two {
    font-size: 20px;
    color: rgb(108, 156, 79);
}

#board td.three {
    font-size: 20px;
    color: rgb(255, 0, 0);
}

#board td.four {
    font-size: 20px;
    color: rgb(255, 255, 0);
}

#board td.five {
    font-size: 20px;
    color: rgb(0, 255, 255);
}

#board td.six {
    font-size: 20px;
    color: rgb(255, 0, 255);
}

#board td.seven {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#board td.eight {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#board td.bomb {
    font-size: 0px !important;
    /*background-color: rgb(0, 0, 0);*/
    /*background-color: rgb(255, 255, 255);*/
    background: url("images/bomb.png");
    background-size:30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.game {
    text-align: center;
    width: 75%;
    margin: auto;
    font-family: Roboto, sans-serif;
}

.slidercontainer {
    align-self: center;
    width: 85%;
    vertical-align: middle;
}
.slider {
    width: 20em;
    vertical-align: middle;
}

.input {
    width: 2em;
}

.blockClicks {
    pointer-events: none;
}