body {
    background-color: #1E1E1E;
}

h1 {
    font-size: 375%;
    margin-bottom: -15px;
}

h2 {
    margin-bottom: -10px;
}

p {
    margin: 5px;
}

.gameInfo {
    width: auto;
    margin-bottom: 2em;
}

#board {margin:1em auto; border-collapse:collapse}
#board td {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #29A0C4;
    text-align: center;
    background-color: #2E2E2E;
}

.hidden {
    font-size: 0px !important;
}

#board td:hover {
    background-color: #364656;
}

.flagged {
    /*background-color: rgb(238, 74, 74);*/
    background: url("images/flag.png");
    background-size:30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0px !important;
}

td.numCell {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: #1B1B1B !important;
}

.zero {
    font-size: 0px !important;
    background-color: #363636 !important;
}

.one {
    color: rgb(62, 17, 232);
}

.two {
    color: rgb(163, 0, 232);
}

.three {
    color: rgb(232, 17, 100);
}

.four {
    color: rgb(211, 26, 134);
}

.five {
    color: rgb(232, 87, 31);
}

.six {
    color: rgb(232, 218, 17);
}

.seven {
    color: rgb(197, 255, 0);
}

.eight {
    color: rgb(18, 255, 31);
}

.bomb {
    font-size: 0px !important;
    background: url("images/bomb.png");
    background-size:30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.game {
    text-align: center;
    width: 75%;
    margin: auto;
    font-family: Roboto, sans-serif;
}

.slidercontainer {
    align-self: center;
    width: 85%;
    vertical-align: middle;
}
.slider {
    width: 20em;
    vertical-align: middle;
}

.input {
    width: 2em;
}

.blockClicks {
    pointer-events: none;
}